[submodule "SMKC_Disabilities_Registration"]
	path = SMKC_Disabilities_Registration
	url = git@github.com:GhostRiderAlive/SMKC_Disabilities_Registration.git
[submodule "duplicate-voter-verification"]
	path = duplicate-voter-verification
	url = git@github.com:smkcegovernance/duplicate-voter-verification.git
