[submodule "SMKC_Disabilities_Registration"]
	path = SMKC_Disabilities_Registration
	url = https://github.com/GhostRiderAlive/SMKC_Disabilities_Registration.git
[submodule "duplicate-voter-verification"]
	path = duplicate-voter-verification
	url = https://github.com/smkcegovernance/duplicate-voter-verification/
