<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <add name="StaticFile" path="*" verb="*" modules="ProtocolSupportModule"
           resourceType="Unspecified" requireAccess="None" />
    </handlers>
    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_PROTO" />
        <add name="HTTP_X_FORWARDED_HOST" />
      </allowedServerVariables>
      <rules>
        <rule name="ProxyToErpShell" stopProcessing="true">
          <match url=".*" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
          <action type="Rewrite" url="http://localhost:3000/{R:0}" logRewrittenUrl="true" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
