<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
      <add name="StaticFile" path="*" verb="*" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="ProxyToDepositManager" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3002/{R:0}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
